# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=

# Cloudinary Config
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# Department / Admin Logins (Legacy Mock Credentials)
VITE_ELEC_USERNAME=
VITE_ELEC_PASSWORD=
VITE_ROAD_USERNAME=
VITE_ROAD_PASSWORD=
VITE_SANITATION_USERNAME=
VITE_SANITATION_PASSWORD=
VITE_WATER_USERNAME=
VITE_WATER_PASSWORD=
VITE_ADMIN_USERNAME=
VITE_ADMIN_PASSWORD=
