# Dependencies
node_modules/

# Environment variables (NEVER commit this)
.env

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Firebase service account key if downloaded locally
firebase-service-account.json

# Test coverage
coverage/

#Others
wipeDB.js